body {
    background-color: #EEEEEE;
    font-family: Helvetica;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    padding: 10px;
}

.logo img {
    width: 100px;
}

.container{
    width: 90%;
    margin: auto;
    color: navy;
    margin: 50px;
    height:400px
}

nav a {
    color: navy;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    border-bottom: 1px solid navy;
}

.baner img {
    width: 100%;
    height: 200px;
}

main {
    padding: 20px;
    text-align: center;
}

maina {
    padding: 20px;
    text-align: left;
}

footer {
    background-color: lightblue;
    text-align: right;
    padding: 10px;
}
